<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://wsanchezacdb.documents.azure.com:443/" />
        <add key="accountKey" value="ogSbN1idUmukC1FX2ev0MB5HQQrYIOPJVrKBcsniZLPTXopjnV3L7hrH7RamkttzHejF3sT1zAXeHXrN6kz0Eg==" />
      </appSettings>
</configuration>